__pycache__/
*.py[cod]
*$py.class

*.so

venv/
env/
.venv/
.env/

.ipynb_checkpoints/

.vscode/

.idea/

build/
dist/
*.egg-info/

*.log

.env
*.env

saved_models/
*.h5
*.hdf5
*.ckpt
*.pth
*.pt
*.npz
*.joblib
*.pkl

.DS_Store
Thumbs.db

.pytest_cache/

*.db
*.sqlite3
*.pid
